# MGT301 Tutorial 2 (๑･̑◡･̑๑)


# Data Structures 
list, tuple, dictionary, numpy array, pandas Series, pandas DataFrame

### List, Tuple --> Dictionary

In [1]:
# list
lst = [1, 2, 3]

In [2]:
# tuple
tup = (4, 5, 6)

In [3]:
# modify lists
# append
lst.append(4)
lst

[1, 2, 3, 4]

In [4]:
# remove
lst.remove(1)
lst

[2, 3, 4]

In [5]:
# modify tuples (?)
# tup.append(7)

In [6]:
tup = tup + (7, )
tup

(4, 5, 6, 7)

In [7]:
# covert tuples to lists
lst = list(tup)
lst

[4, 5, 6, 7]

In [8]:
# covert two lists to a dictionary
lst1 = ['a', 'b', 'c']
lst2 = [1, 2, 3]
d = dict(zip(lst1, lst2))
d

{'a': 1, 'b': 2, 'c': 3}

### Array --> Series --> DataFrames

In [9]:
# numpy array
import numpy as np
lst = [1, 2, 3, 4, 5]
array = np.array(lst)
array

array([1, 2, 3, 4, 5])

In [10]:
# pandas Series
import pandas as pd
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(d, index=['a', 'b', 'c'])
ser

a    1
b    2
c    3
dtype: int64

##### What is a DataFrame?

*"A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns."*

In [11]:
# pandas DataFrame
d = {'a': [1, 2, 3], 'b': [4, 5, 6]}
df = pd.DataFrame(d)
df

   a  b
0  1  4
1  2  5
2  3  6

In [12]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.DataFrame(d, index= ['a','b','c'])
ser

   a  b  c
a  1  2  3
b  1  2  3
c  1  2  3

In [13]:
# add an index
d = {'a': [1, 2, 3], 'b': [4, 5, 6]}
df = pd.DataFrame(d, index=['x', 'y', 'z'])
df

   a  b
x  1  4
y  2  5
z  3  6

### Import Dataset

In [14]:
# read csv files into DataFrames
insur = pd.read_csv('insurance_data.csv', index_col='index')
insur.head()

,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
index,,,,,,,,,,
0,1,39.0,male,23.2,91,Yes,0,No,southeast,1121.87
1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51
2,3,NaN,male,33.3,82,Yes,0,No,southeast,1135.94
3,4,NaN,male,33.7,80,No,0,No,northwest,1136.40
4,5,NaN,male,34.1,100,No,0,No,northwest,1137.01

In [15]:
insur.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1340 entries, 0 to 1339
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PatientID      1340 non-null   int64
 1   age            1335 non-null   float64
 2   gender         1340 non-null   object
 3   bmi            1340 non-null   float64
 4   bloodpressure  1340 non-null   int64
 5   diabetic       1340 non-null   object
 6   children       1340 non-null   int64
 7   smoker         1340 non-null   object
 8   region         1337 non-null   object
 9   claim          1340 non-null   float64
dtypes: float64(3), int64(3), object(4)
memory usage: 115.2+ KB

In [16]:
# select specific columns
df1 = insur.loc[:, ['PatientID', 'gender', 'bmi']]
df1.head()

       PatientID gender   bmi
index
0              1   male  23.2
1              2   male  30.1
2              3   male  33.3
3              4   male  33.7
4              5   male  34.1

In [17]:
# select specific rows
df2 = insur.loc[[1, 10, 100, 1000], :]
df2

,PatientID,age,gender,bmi,bloodpressure,diabetic,children,smoker,region,claim
index,,,,,,,,,,
1,2,24.0,male,30.1,87,No,0,No,southeast,1131.51
10,11,36.0,male,19.8,88,Yes,0,No,northwest,1241.57
100,101,30.0,male,22.3,83,Yes,1,No,southwest,2103.08
1000,1001,45.0,female,20.0,91,No,3,Yes,northwest,16420.49

In [18]:
# select specific rows and columns
df3 = insur.loc[[10, 20, 30, 40, 50], ['age', 'gender', 'smoker']]
df3

        age  gender smoker
index
10     36.0    male     No
20     45.0    male     No
30     29.0    male     No
40     29.0  female     No
50     45.0    male     No

In [19]:
#insur.columns
#insur.age
#insur['age']
#insur.iloc[:,1]