# ٩(•̤̀ᵕ•̤́๑)ᵒᵏᵎᵎᵎᵎ

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

url = 'https://github.com/jiechengh/mgt301/blob/main/airbnb_sin_nyc.csv?raw=true'
airbnb = pd.read_csv(url, index_col=0)
airbnb.dropna(inplace=True)
airbnb.head()

,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,City
id,,,,,,,,,,,,,,,,
49091,COZICOMFORT LONG TERM STAY ROOM 2,266763,Francesca,North Region,Woodlands,1.44255,103.79580,Private room,83,180,1,2013-10-21,0.01,2,365,Singapore
50646,Pleasant Room along Bukit Timah,227796,Sujatha,Central Region,Bukit Timah,1.33235,103.78521,Private room,81,90,18,2014-12-26,0.28,1,365,Singapore
56334,COZICOMFORT,266763,Francesca,North Region,Woodlands,1.44246,103.79667,Private room,69,6,20,2015-10-01,0.20,2,365,Singapore
71609,Ensuite Room (Room 1 & 2) near EXPO,367042,Belinda,East Region,Tampines,1.34541,103.95712,Private room,206,1,14,2019-08-11,0.15,9,353,Singapore
71896,B&B Room 1 near Airport & EXPO,367042,Belinda,East Region,Tampines,1.34567,103.95963,Private room,94,1,22,2019-07-28,0.22,9,355,Singapore

In [2]:
numeric_cols = ['price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 
               'calculated_host_listings_count', 'availability_365']

def drop_outliers_iqr(df, column, selected_cols):
    if column in selected_cols:
        q1 = df[column].quantile(0.25)
        q3 = df[column].quantile(0.75)
        iqr = q3 - q1
        lower = q1 - 1.5 * iqr
        upper = q3 + 1.5 * iqr
        no_outliers = df[(df[column] >= lower) & (df[column] <= upper)]
        return no_outliers
    
    else:
        return df

for col in airbnb.columns:
    airbnb = drop_outliers_iqr(airbnb, col, numeric_cols)

# Seaborn

https://seaborn.pydata.org/tutorial/color_palettes.html

## `relplot`: 

This function provides access to several different axes-level functions that show the relationship between two variables with semantic mappings of subsets.

# `jointplot`: 

Grid for drawing a bivariate plot with marginal univariate plots.

This function provides a convenient interface to the JointGrid class, with several canned plot kinds.

# `stripplot`: 

Draw a categorical scatterplot using jitter to reduce overplotting.

# `violinplot`: 

Draw a patch representing a KDE and add observations or box plot statistics.